body {
    text-shadow: 0 0.05em 0.05em black;
    background-color: #363636;
    text-align: center;
    font-size: 24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    padding: 1em;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    /* I store a lot of stuff over on the right side of the screen that
       I don't want them to see */
    overflow-x: hidden;
    padding-top: 0px;
}

#login {
    color: white;
}

/* "Tap-able" elements should all look similar */
.button, .buttonDown, .subscription, .keeper, .bad {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8em;
    /* turn off the annoying highlight on a tap*/
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#searchBox {
    border: 1px solid #5095ea;
    box-shadow: 1px 1px 5px #5095ea;
    height: 1.5em;
    border-radius: 0.4em;
    padding: 0.2em;
}

#keepList, #subscriptionList {
    margin-bottom: 1.5em;
}

#addHeader {
    margin-top: 1.0em;
}

#searchBox {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.button {
    background-color: #575757;
}

.buttonDown {
    text-shadow: none;
}

.button.buttonDown {
    color: #575757;
    background-color: white;
}

.subscription, .button, .keeper, .bad:hover {
    cursor: pointer;
}
.subscription {
    background-color: #828282;
}

.subscription.buttonDown {
    color: #828282;
    background-color: white;
}

/* Initially, these should all not display */
#loader {
    display: none;
}

#loader {
    margin-left: auto;
    margin-right: auto;
}

.itemContainer {
    color: black;
    font-family: Georgia, serif;
    background-color: #dedede; /* lol, king dedede */
    text-shadow: 0 0 0 black;
    padding: 0.6em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 100%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.itemDescription {
    text-shadow: 0 0 0 black;
    text-align: left;
    font-size: 60%;
}

p, .itemDescription > div {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.keeper.buttonDown {
    background-color: #704196;
    text-shadow: 0 0.05em 0.05em black;
}

.keeper {
    background-color: #4d66ab;
}

.bad {
    background-color: #ab4d53;
    text-decoration: line-through;
}

img {
    max-width: 100%;
    height: auto;
}

#readBack {
    margin-top: 0em;
    margin-bottom: 1.0em;
}

#logo {
    max-height: 5.0em;
}

/* Copied from
   https://github.com/es92/CrossPlatformTodoApp/blob/master/static/mobile/css/style.css
   */
.transition {

    -webkit-transition-property: left, right, top, bottom;
    -webkit-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s;
    -webkit-transition-delay: 0s, 0s, 0s, 0s;
    -webkit-transform-style: preserve-3d; /* worth a shot */

    -moz-transition-property: left, right, top, bottom;
    -moz-transition-duration: 1s, 1s, 1s, 1s;
    -moz-transition-delay: 0s, 0s, 0s, 0s;

    -o-transition-property: left, right, top, bottom;
    -o-transition-duration: 1s, 1s, 1s, 1s;
    -o-transition-delay: 0s, 0s, 0s, 0s;

    /* prevents flickering and other weirdness */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

}

#modeList {
    position: relative;
}

#view, #edit, #readBack, #addHeader {
    margin-top: 5.0em;
}


#view, #read, #edit, #add {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}


#view.hiddenLeft {
    left: -120%;
    right: 120%;
}

#read.hiddenRight {
    left: 120%;
    right: -120%;
}

#edit.hiddenRight {
    left: 120%;
    right: -120%;
}

#add.hiddenRight {
    left: 120%;
    right: -120%;
}

/***************************************************
 * header
 ***************************************************/

#header {
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    background-color: black;
    z-index: 1;
}

#logo {
    float: left;
    height: 3.0em;
    width: auto;
    margin: 0.5em;
}

@media only screen and (min-width : 600px) {

    .button, .buttonDown, .subscription, .keeper, .bad {
        max-width: 600px;
    }

    /* #main { */
    /*     background-color: green; */
    /* } */

}
