body {
    text-shadow: 0 0.05em 0.05em black;
    background-color: #363636;
    text-align: center;
    font-size: 24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    padding: 1em;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#login {
    color: white;
}

div {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}


.button {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: #575757;
}

.buttonDown {
    text-shadow: none;
}

.button.buttonDown {
    color: #575757;
    background-color: white;
}

.subscription, .button, .keeper, .bad {
    border-radius: 0.8em;
    /* turn off the annoying highlight on a tap*/
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subscription, .button, .keeper, .bad:hover {
    cursor: pointer;
}
.subscription {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: #828282;
}

.subscription.buttonDown {
    color: #828282;
    background-color: white;
}

/* Initially, these should all not display */
#edit, #add, #read, #loader {
    display: none;
}

#loader {
    margin-left: auto;
    margin-right: auto;
}

.itemContainer {
    color: black;
    font-family: Georgia, serif;
    background-color: #dedede; /* lol, king dedede */
    text-shadow: 0 0 0 black;
    padding: 0.6em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 100%;
}

.itemDescription {
    text-shadow: 0 0 0 black;
    text-align: left;
    font-size: 60%;
}

p {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.keeper.buttonDown {
    background-color: #704196;
    text-shadow: 0 0.05em 0.05em black;
}

.keeper {
    background-color: #4d66ab;
}

.bad {
    background-color: #ab4d53;
}

img {
    max-width: 100%;
    height: auto;
}
