body {
    text-shadow: 0 0.05em 0.05em black;
    background-color: #363636;
    text-align: center;
    font-size: 24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    padding: 1em;
}

#login {
    color: white;
}

div {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}


.button {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: #575757;
}

.buttonDown {
    text-shadow: none;
}

.button.buttonDown {
    color: #575757;
    background-color: white;
}

.button:hover {
    cursor: pointer;
}

.subscription,.button,.keeper,.bad {
    border-radius: 0.8em;
}

.subscription {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: #828282;
}

.subscription.buttonDown {
    color: #828282;
    background-color: white;
}

.subscription:hover {
    cursor: pointer;
}

/* Initially, these should all not display */
#edit, #add, #read {
    display: none;
}

.itemContainer {
    color: black;
    font-family: Georgia, serif;
    background-color: #dedede; /* lol, king dedede */
    text-shadow: 0 0 0 black;
    padding: 0.6em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 100%;
}

.itemDescription {
    text-shadow: 0 0 0 black;
    text-align: left;
    font-size: 60%;
}

p {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.keeper.buttonDown {
    /* text-shadow: none; */
    /* background-color: #9f52de; */
    background-color: #704196;
    text-shadow: 0 0.05em 0.05em black;
}

.keeper {
    background-color: #4d66ab;
}

.bad {
    background-color: #ab4d53;
}
