.button {
    height: 50px;
    background-color: blue;
}

/* Initially, these should all not display */
#edit, #add, #read {
    display: none;
}

.keeper {
    background-color: pink;
}

.bad {
    background-color: yellow;
}
